@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

body { 

    font-family: Arial, Helvetica, sans-serif;
    color: rgb(58, 54, 54);
    line-height: 2;
    background-color: whitesmoke;
  
}

#inner { 

    padding: 2% 4%; 
    margin: 3% auto;
    background: white; 
    border: solid #FF5733; 
    border-width: 8px 0 2px 0;
    width: 40%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


/* -- header -- */
header { 
    
    margin: 2.5em 0 3em 0; 
    padding-bottom: 1.5em; 
    background: white;
    height: 54px;
    background-image: linear-gradient(
      to right, 
      #130C77 ,
      #130C77 25%,
      #FF5733 25%,
      #FF5733 50%,
      #6DBCAF 50%,
      #6DBCAF 75%,
      #C70039 75%
    );
    background-size: 100% 6px;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    text-align: center;
    text-transform: uppercase;
    
  }


/* -- body -- */
h2 { text-decoration: underline;}
h3, h4 { font-size: 125%; }
p { 
    
    font-size: 120%; 
    padding-right: 0.01em;

}

a { color: #C70039}

p.enlarge { 
    
    font-size: 130%;
    padding-bottom: 3em; 
    line-height: 25px; 
    border-bottom: 1px solid #ccc;

}

.gf div.first{width:70%;}
.gf{ margin-top: 5%; }

.education { 
    
  /*  position: relative; */
    margin-bottom: 1em; 
    padding-bottom: 1em; 
    border-bottom: 1px solid #ccc; 

}

.education h4 { /*position: absolute; */top: 0.35em; right: 0 }
.education p { margin: 0.75em 0 3em 0; }
.last { border: none; }


/* -- footer -- */
footer { 
    
    padding: 1em 0 5em 0; 
    margin-bottom: 0; 
    font-size: 100%;
    text-align: center; 
    word-spacing: 80%;
    color: #000;
    

}


/* Media query for responsive design */
@media only screen and (max-device-width: 900px) {

    div#inner{ width: 90%;}
    p.enlarge { 

        font-size: 140%; 
        padding-bottom: 3em; 
        padding-right: 0.1em;
        padding-left: 0.2em;
        border-bottom: 1px solid #ccc;

    }

}

