body { 

    font-family: Arial, Helvetica, sans-serif;
    color: rgb(58, 54, 54);
    line-height: 2;
    background-color: whitesmoke; 

}

.diamond1 {
    height: 150px;
    width: 150px;
    background-color: #130C77;
    transform: rotate(45deg);
  }

  .diamond2 {
    height: 150px;
    width: 150px;
    margin-top: -2.5%;
    margin-left: 3%;
    background-color: #FF5733;
    transform: rotate(45deg);
  }

  .diamond3 {
    height: 150px;
    width: 150px;
    margin-top: -2%;
    background-color: #6DBCAF;
    transform: rotate(45deg);
  }

  .diamond4 {
    height: 150px;
    width: 150px;
    margin-top: -2.5%;
    margin-left: 3%;
    background-color: #C70039;
    transform: rotate(45deg);
  }

#inner { 

    padding: 2% 4%; 
    margin-top: -15%;
    margin-left: 25%;
    background: white; 
    border: solid #FF5733; 
    border-width: 8px 0 2px 0;
    width: 43%;
    height: auto;

}


/*-- header, body, footer -- */
header { 
    
    margin: 2.5em 0 3em 0; 
    padding-bottom: 1.5em; 

}


header h2 { 
    
    text-transform: uppercase; 
}

.top-header {

    background: white;
    height: 54px;
    
    background-image: linear-gradient(
      to right, 
      #130C77 ,
      #130C77 25%,
      #FF5733 25%,
      #FF5733 50%,
      #6DBCAF 50%,
      #6DBCAF 75%,
      #C70039 75%
    );
    
    background-size: 100% 6px;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    text-align: center;
  }

  
header h1 { 
    
    font-size: 200%; 
    text-transform: uppercase; 

}


h2 { 
    font-size: 152%; 
    text-decoration: underline;
}

h3, h4 { font-size: 122%; }
h1, h2, h3, h4 { color: #333; }


p { 
    
    font-size: 100%; 
    line-height: 18px; 
    padding-right: 0.01em;

}


a { color: #C70039}
a:hover { text-decoration: none; }


li { 
    
    line-height: 24px; 
    list-style: none;
    border-bottom: 1px solid #ccc; 

}


p.enlarge { 
    
    font-size: 130%; 
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 3em; 
    line-height: 27px; 
    border-bottom: 1px solid #ccc;

}

.last { border-bottom: 0 }

.education { 
    
    position: relative; 
    margin-bottom: 1em; 
    padding-bottom: 1em; 
    border-bottom: 1px solid #ccc; 

}


.education h4 { position: absolute; top: 0.35em; right: 0 }
.education p { margin: 0.75em 0 3em 0; }

.last { border: none; }
.skills-list ul { margin: 0; }
.skills-list li { margin: 3px 0; padding: 3px 0; }
.skills-list li span { font-size: 152%; display: block; margin-bottom: -2px; padding: 0 }
.talent { width: 29%; float: left }
.talent h2 { margin-bottom: 6px; }
.gf div.first{width:70%;}
.gf{ margin-top: 5%; }

/* //-- footer -- */
footer { 
    
    padding: 1em 0 5em 0; 
    font-size: 100%;
    text-align: center; 
    word-spacing: 80%;
    color: #000;

}


footer h2 { 
    
    margin-bottom: 0; 
    text-align: center; 

} 

/* Use a media query for responsive design */
@media only screen and (max-device-width: 900px) {

    div#inner{ width: 90%;}
    p.enlarge { 

        font-size: 140%; 
        padding-bottom: 3em; 
        padding-right: 0.1em;
        padding-left: 0.2em;
        border-bottom: 1px solid #ccc;

    }

}

